/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /**
 * =======================================================================
 * ========================== !!! IMPORTANT !!!===========================
 * =======================================================================
 * 
 * 	USE this selector FIRST -> .ays-arp-under-posts-container
 * 
 * =======================================================================
 * ========================== !!! IMPORTANT !!!===========================
 * =======================================================================
 */

.ays-arp-under-posts-container {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.ays-arp-under-posts-container *,
.ays-arp-under-posts-container :after,
.ays-arp-under-posts-container :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ays-arp-under-posts-container a {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}

.ays-arp-under-posts-container hr {
    margin: 0;
    background-color: transparent;
}

.ays-arp-under-posts-container img {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ays-arp-under-posts-container .ays-arp-under-post-img {
    width: 100%;
}

.ays-arp-under-posts-container embed,
.ays-arp-under-posts-container iframe,
.ays-arp-under-posts-container object,
.ays-arp-under-posts-container video {
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
}

.ays-arp-under-posts-container .ays-arp-under-posts {
    -webkit-transition: background 0.3s, border 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
    transition: background 0.3s, border 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
}

.ays-arp-under-posts-container .ays-arp-under-posts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ays-arp-under-posts-container .ays-arp-under-post {
	text-align: center;
	margin-bottom: 10px; 
}