/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /**
 * =======================================================================
 * ========================== !!! IMPORTANT !!!===========================
 * =======================================================================
 * 
 * 	USE this selector FIRST -> .ays-arp-under-posts-container.ays-arp-elegant-layout
 * 
 * =======================================================================
 * ========================== !!! IMPORTANT !!!===========================
 * =======================================================================
 */

.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-post-content {
	width: 100%;
	color: inherit;
	text-align: left;

	display: flex;
  	flex-direction: column;
}

.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-posts {
    text-align: center;
}

.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-post {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-post-title-row {
	color: inherit;
	font-size: 18px;
	text-transform: uppercase;
}

.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-post-title-row .ays-arp-under-post-link{
	box-shadow: none;
    border: 0;
    outline: 0;
    width: 100%;
    margin: 0;
}

.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-post-excerpt-row {
	margin: 0;
    line-height: 1.5em;
    font-size: 14px;
    color: rgb(119 119 119);
}
.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-post-date-author-row {
	margin-top: auto;
	line-height: 1.3em;
    font-size: 12px;
    padding-top: 5px;
    color: rgb(173 173 173);
	border-top: 0.5px solid rgb(234 234 234);
}

.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-post-date-enabled:before,
.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-post-time:before {
    content: "•";
}

.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-post-date-author-row span+span:before {
	margin: 0 5px;
}

.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-post-read-more-row {
	margin-top: auto;
	margin-bottom: 20px;
}
.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-post-read-more-row .ays-arp-under-post-link {
    color: rgb(240 69 28 / 90%);
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 13px;

    box-shadow: none;
    border: 0;
    outline: 0;
    vertical-align: bottom;
    width: 100%;
    margin: 0;
}

.ays-arp-under-posts-container.ays-arp-elegant-layout .ays-arp-under-post-read-more-row .ays-arp-under-post-link:hover {
	color: rgb(240 69 28 / 100%);
}